@charset "utf-8";
/* CSS Document */
body {background-image: url( "pozadina2.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}
@font-face {
    font-family: LaviossaMedium;
    src: url( "LaviossaMedium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
	
	p {font-family: "LaviossaMedium";
font-size: 20px;
		margin-left: 400px;
}
h1 {font-family: LaviossaMedium;
	margin-left: 400px;
font-size: 40px; }
